/* GENERAL */
*{
    transition: all 0.5s;
}

html, body{
    background-color: deeppink;
    font-family: 'Questrial', sans-serif;
    font-size: 10px;
}

::-webkit-scrollbar {display:none;}



/* WRAPPER */
.wrapper{
    width: 100vw;
    height: 100vh;
    display: block;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: blue;
}


/* GALLERY */
.gallery{
    height: 100%;
    background-color: gray;
    display: block;
}

.projecto, .projecto2{
    background-color: aquamarine;
    height: 100vh;
    display: inline-block;
    float: left;
    border: 1px solid white;
}

.projecto2{
    background-color: indianred;
}


/* PROJECT NAV */
.projectNav{
    width: 100vw;
    height: 10vh;
    /*background-color: olive;*/
    display: block;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.ball{
    height: 2vh;
    width: 2vh;
    border-radius: 100%;
    border: 1px solid white;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    /*padding: 2px;
    background-clip: content-box;*/
    transition: all 0.5s 0.2s;
}

.highlight{
    background-color: white;
    transition: all 0.5s 0.2s;
}

.link{
    display: inline-block;
    cursor: pointer;
}


/* GRID DISPLAY */
.grid{
    height: 20px;
    width: 20px;
    background-color: white;
    display: inline-block;
    position:fixed;
    bottom: 2vh;
    right: 2vh;
    cursor: pointer;
    border: 1px solid red;
}